@font-face {
  font-family: "Instruction";
  src: url(fonts/Instruction.otf);
}
@font-face {
  font-family: "Calling Code";
  src: url(fonts/CallingCode-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "GameOverCre";
  src: url(fonts/gameovercre1.ttf);
}
@font-face {
  font-family: "Sprinkle";
  src: url(fonts/Sprinkle-Regular.ttf);
}
@font-face {
  font-family: "Baby Doll";
  src: url(fonts/Baby\ Doll.ttf);
}

html {
  --yellow: #f9cc71;
  --whitish: #f4ebde;
  --blackish: #313447;
  --grey: #999999;
  --pink: #f69b8c;
  --green: #b3df72;
}

body {
  margin: 0;
  color: var(--blackish);
}

img {
  width: 50px;
  height: 50px;
  filter: invert(15%) sepia(8%) saturate(2474%) hue-rotate(194deg)
    brightness(97%) contrast(84%);
}

h1 {
  font-size: 72px;
  font-family: "Instruction";
  text-align: center;
  margin: 0 0 0.5em 0;
}

h2 {
  font-size: 32px;
  font-weight: normal;
  margin: 0 0 1em 0;
}

p {
  font-size: 32px;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: inherit;
}

.row {
  display: flex;
  height: 50vh;
  transition: height 0.3s ease-in-out;
}

.item {
  width: 50%;
  padding: 50px;
  transition: width 0.3s ease-in-out, filter 0.3s ease-in-out;
  overflow: hidden;
}

.item:hover {
  filter: saturate(130%);
}

/* name */

#name {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

#links {
  display: flex;
  justify-content: center;
}

#links a {
  padding: 0 20px;
}

/* game */

#game {
  justify-content: space-between;
  position: relative;
  background-color: var(--whitish);
  font-family: "GameOverCre";
}

#game h2 {
  /* margin-bottom: 1.5em; */
  /* width: 320px; */
}

#game img {
  filter: none;
}

#game-row {
  display: flex;
  height: calc(100% - 67px);
}

#pad {
  /* flex-basis: 30%; */
  width: 120px;
  height: 120px;
  margin: auto 30px auto 20px;
  display: block;
}

#gif {
  width: 60%;
  height: auto;
  margin: 0 auto;
  border: var(--blackish) 8px solid;
  position: relative;
}

#gif:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#gif img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sensor {
  position: absolute;
  /* border: black 1px solid; */
}

#up {
  width: 50%;
  height: 50%;
  top: 0;
  left: 25%;
}

#right {
  width: 25%;
  height: 100%;
  top: 0;
  right: 0;
}

#down {
  width: 50%;
  height: 50%;
  bottom: 0;
  left: 25%;
}

#left {
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
}

/* software */

#software {
  background-color: var(--blackish);
  color: var(--whitish);
  font-family: "Calling Code";
}

#software p {
  margin: 0;
  font-family: inherit;
}

.class {
  color: var(--yellow);
}

.function {
  color: var(--pink);
}

.string {
  color: var(--green);
}

.comment {
  color: var(--grey);
}

/* art */

#art {
  background-color: var(--pink);
  font-family: "Sprinkle";
}

.special {
  font-family: "Baby Doll";
}
