@font-face {
  font-family: "Sprinkle";
  src: url(../fonts/Sprinkle-Regular.ttf);
}
@font-face {
  font-family: "Baby Doll";
  src: url(../fonts/Baby\ Doll.ttf);
}

html {
  --yellow: #f9cc71;
  --whitish: #f4ebde;
  --blackish-alpha1: #31344733;
  --blackish-alpha2: #31344755;
  --blackish-alpha3: #31344777;
  --blackish: #313447;
  --pink: #f69b8c;
  --green: #b3df72;
}

body {
  margin: 0;
  color: var(--blackish);
  font-family: "Sprinkle";
  background: var(--pink);
  font-size: 18px;
}

h1 {
  font-size: 4em;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 30px;
  text-align: center;
}

.lift {
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

#art {
  margin: 0 auto;
  padding: 100px;
  max-width: 800px;
}

#back {
  position: fixed;
  top: 100px;
  left: 35px;
  padding-top: 15px;
  font-family: "Baby Doll";
  font-size: 4em;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
}

#back:hover {
  background: var(--blackish-alpha1);
  color: var(--yellow);
}

#back:active {
  background: var(--blackish-alpha2);
}

#amp {
  font-family: "Baby Doll";
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 0 25px;
  border-right: var(--blackish) solid 3px;
}

ul li:last-child {
  border: none;
}

.link {
  font-size: 24px;
  text-decoration: underline;
  transition: color 0.3s;
}

.link:hover {
  color: var(--green);
}

.link:active {
  color: #b3df7288;
}

.project {
  margin-top: 70px;
}

.images {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 4px;
}

.images img {
  max-height: 420px;
  /* padding: 15px 0 15px 15px; */
  padding: 15px;
  background-color: var(--whitish);
  cursor: pointer;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.images img:hover {
  max-height: 450px;
  padding: 0;
}

.image img {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin: 0;
  background: var(--whitish);
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.image img:hover {
  /* width: 102.9167%; */
  width: calc(100% + 23.3333px);
  padding: 0px;
  margin-left: -11.6667px;
}

.descriptions {
  padding: 0 30px;
  margin-top: 16px;
  margin-bottom: 0;
  text-align: center;
}

.special {
  font-family: "Baby Doll";
  font-size: 1.5em;
}

/* overlay */

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #00000066;
  cursor: pointer;
}

#overlay img {
  position: fixed;
  max-height: 80%;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* scrollbar */

::-webkit-scrollbar {
  display: block;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  background: #00000044; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00000066; 
}

.scroll-toggle::-webkit-scrollbar-track {
  background: #00000066;
}