/* main */

h1 {
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

/* sidebar */

.sidebar {
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  width: 100%;
  height: auto;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sidebar a {
  display: block;
  padding: 24px;
  max-width: none;
  flex-grow: 1;
  transition: background 0.3s;
}

#sidebar-name { background-color: var(--whitish); }

#sidebar-professional { background-color: var(--pink); }
#sidebar-professional:hover { background-color: var(--dark-pink); }
#sidebar-professional:active { background-color: var(--darker-pink); }

#sidebar-personal { background-color: var(--green); }
#sidebar-personal:hover { background-color: var(--dark-green); }
#sidebar-personal:active { background-color: var(--darker-green); }

#sidebar-about { background-color: var(--yellow); }
#sidebar-about:hover { background-color: var(--dark-yellow); }
#sidebar-about:active { background-color: var(--darker-yellow); }

#sidebar-contact { background-color: var(--blackish); color: var(--whitish); }
#sidebar-contact:hover { background-color: var(--light-blackish); }
#sidebar-contact:active { background-color: var(--lighter-blackish); }

.sidebar img {
  width: 24px;
  margin: auto 15px auto 0;
  filter: invert(15%) sepia(8%) saturate(2474%) hue-rotate(194deg)
    brightness(97%) contrast(84%);
}

.sidebar a:first-child { 
  display: flex;
  align-items: center; 
  justify-content: center;
}

/* content */

.page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 75px;
}

/* text cursor */

@keyframes blink {
  0%    {opacity: 0;}
  20%   {opacity: 1;}
  50%   {opacity: 1;}
  70%   {opacity: 0;}
  100%  {opacity: 0;}
}

#pipe {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* game */

#game-row {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100% - 67px);
}

#gif {
  min-width: 300px;
  width: 30%;
  height: auto;
  border: var(--blackish) 8px solid;
  position: relative;
}

#gif:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#gif img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#pad {
  margin-right: 50px;
  display: block;
  position: relative;
}

#pad img {
  max-width: 120px;
  width: 100%;
  height: auto;
}

.sensor {
  position: absolute;
}

.sensor:hover {
  background-color: var(--blackish-alpha1);
}

.sensor:active {
  background-color: var(--blackish-alpha2);
}

#up {
  width: 33.33%;
  height: 33.5%;
  top: 0;
  left: 35%;
}

#right {
  width: 35%;
  height: 33%;
  top: 28.5%;
  right: 0;
}

#down {
  width: 33.33%;
  height: 34%;
  bottom: 8.33%;
  left: 35%;
}

#left {
  width: 35%;
  height: 33%;
  top: 28.5%;
  left: 5%;
}

#buttons {
  margin-left: 50px;
  display: block;
  position: relative;
}

#buttons img {
  max-width: 120px;
  width: 100%;
  height: auto;
}

.button {
  position: absolute;
}

.button:hover {
  background-color: var(--blackish-alpha1);
}

.button:active {
  background-color: var(--blackish-alpha2);
}

#happy {
  width: 34%;
  height: 34%;
  top: 4.5%;
  right: 4.5%;
}

#sad {
  width: 34%;
  height: 34%;
  bottom: 9%;
  left: 9%;
}

/* responsive */

@media screen and (max-width: 850px) {
  #game-row {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #gif {
    flex-basis: 100%;
    order: 1;
    min-width: 100px;
    max-width: 500px;
    margin-bottom: 50px;
    padding: 0 auto;
  }

  #break {
    order: 2;
    flex-basis: 100%;
    width: 0%;
  }

  #pad {
    order: 3;
    margin: 0;
  }

  #buttons {
    order: 4;
    margin: 0;
  }
}

@media screen and (max-width: 450px) {
  .page {
    padding: 40px;
  }
}

@media screen and (max-width: 350px) {
  .page {
    padding: 40px;
  }

  #gif {
    margin-bottom: 40px;
  }

  #buttons {
    order: 2;
    margin-bottom: 40px;
  }

  #break {
    order: 3;
  }

  #pad {
    order: 4;
  }
}