@font-face {
  font-family: "Calling Code";
  src: url(../main/fonts/CallingCode-Regular.ttf);
}

html {
  --yellow: #f9cc71;
  --whitish: #f4ebde;
  --whitish-alpha1: #f4ebde33;
  --whitish-alpha2: #f4ebde11;
  --blackish: #313447;
  --pink: #f69b8c;
  --green: #b3df72;
}

body {
  margin: 0;
  color: var(--whitish);
  font-family: "Calling Code";
  background: var(--blackish);
  font-size: 16px;
}

h1 {
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 2.5em;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

#back {
  position: fixed;
  top: 100px;
  left: 35px;
  font-size: 4em;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
}

#back:hover {
  background: var(--whitish-alpha1);
  color: var(--pink)
}

#software {
  margin: 0 auto;
  padding: 100px;
  max-width: 800px;
}

.link {
  font-size: 24px;
  padding-left: 30px;
  text-decoration: underline;
  transition: color 0.3s;
}

.link:hover {
  color: var(--green);
}

.link:active {
  color: #b3df7288;
}

.project {
  margin-top: 70px;
}

.card {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid var(--whitish);
  border-radius: 10px;
}

.card h2 {
  margin: 0;
}

.name {
  flex-basis: 100%;
  padding: 30px 0 30px 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: background 0.3s, color 0.3s;
}

.name h2 {
  border-right: 2px solid var(--whitish);
  padding-right: 30px;
}

.name:hover {
  background: var(--whitish-alpha1);
  color: var(--yellow);
}

.gh {
  flex-basis: auto;
  display: flex;
  text-align: right;
  height: inherit;
  padding: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background 0.3s;
}

.gh h2 {
  margin: auto 0;
}

.gh:hover {
  background: var(--whitish-alpha1);
  color: var(--green);
}

.name:active, 
.gh:active,
#back:active {
  background: var(--whitish-alpha2);
}

.descriptions {
  padding: 0 30px;
  margin-bottom: 0;
}