html {
  /* --header-color: #CCD5AE; */
  --end-color: #a77c5b;
  --header-color: #97a97c;
  /* --section1-color: #E9EDC9; */
  --section1-color: #e9f0c9;
  --section2-color: #fefae0;
  --section3-color: #faedcd;
  --section4-color: #f4daaf;
  --almost-black: #444444;
  --almost-white: #fafafa;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  font-family: "Palatino", "Times New Roman", serif;
}

h1 {
  font-size: 64px;
  margin-top: 20px;
  margin-bottom: 0;
}

h2 {
  font-size: 32px;
}

a {
  color: inherit;
}

.end {
  position: fixed;
  background-color: var(--end-color);
  justify-content: center;
  color: var(--almost-white);
  display: flex;
  list-style: none;
  padding: 10px;
  margin: 0;
  width: 100%;
}

.end li {
  padding: 0 15px;
}

.section-box {
  margin: 0;
  padding: 20px 20px 30px;
}

.main-section {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.contact {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.contact li {
  padding: 0 15px;
  border-left: 2px solid var(--almost-white);
}

.contact li:first-of-type {
  padding-left: 0;
  border-left: none;
}

.subsection {
  padding-left: 50px;
}

.what {
  font-weight: bold;
  margin: 0 0 5px;
  font-size: 20px;
}

.where-when {
  font-style: italic;
  margin: 0 0 5px;
}

.section-item ul {
  margin: 0;
}

#experience .section-item,
#affiliations .section-item {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 0 10px;
  border-top: 1px solid var(--almost-black);
  padding: 30px 0;
}

#experience .section-item:first-of-type,
#affiliations .section-item:first-of-type {
  border-top: none;
  padding-top: 0px;
}

#skills .subsection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 20px;
  margin-bottom: 20px;
}

#education ul {
  margin-top: 0;
}

#about {
  background: var(--header-color);
  color: var(--almost-white);
  padding-top: 150px;
}

#education {
  background: var(--section1-color);
  color: var(--almost-black);
}

#experience {
  background: var(--section2-color);
  color: var(--almost-black);
}

#affiliations {
  background: var(--section3-color);
  color: var(--almost-black);
}

#skills {
  background: var(--section4-color);
  color: var(--almost-black);
}
